{{- $env := .Values.env | default "dev" }}
{{- $host := .Values.host }}
{{- $namespace := .Values.namespace | default "default" }}
{{- $appName := .Values.names.app | default (printf "%s-nginx" $env) }}
{{- $tlsSecretName := .Values.names.tlsSecret | default (printf "%s-tls-secret" $appName) }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ $tlsSecretName }}
  namespace: {{ $namespace }}
  annotations:
    acme.cert-manager.io/http01-ingress-class: "nginx"
spec:
  secretName: {{ $tlsSecretName }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
  - {{ $host }}