{{- $env := .Values.env | default "dev" }}
{{- $namespace := .Values.namespace | default "default" }}
{{- $appName := .Values.names.app | default (printf "%s-nginx" $env) }}
{{- $deploymentName := .Values.names.deployment | default (printf "%s-deployment" $appName) }}
{{- $configSecretName := .Values.names.secret | default (printf "%s-secret" $appName) }}
{{- $htmlConfigMapName := .Values.names.configmap | default (printf "%s-html-configmap" $appName) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $deploymentName }}
  namespace: {{ $namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ $appName }}
  template:
    metadata:
      labels:
        app: {{ $appName }}
    spec:
      containers:
      - name: nginx
        image: budcalmy/task18-nginx:latest
        ports:
        - containerPort: 8080

        startupProbe:
          httpGet:
            path: /
            port: 8080
          periodSeconds: 5
          failureThreshold: 30

        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 10
          failureThreshold: 3

        volumeMounts:
        - name: nginx-config-secret
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
        - name: nginx-config-secret
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
        - name: nginx-config-secret
          mountPath: /etc/nginx/conf.d/red.conf
          subPath: red.conf
        - name: nginx-config-secret
          mountPath: /etc/nginx/conf.d/blue.conf
          subPath: blue.conf
        - name: nginx-html-configmap
          mountPath: /usr/share/nginx/html

      volumes:
      - name: nginx-config-secret
        secret:
          secretName: {{ $configSecretName }}
      - name: nginx-html-configmap
        configMap:
          name: {{ $htmlConfigMapName }}
