{{- $env := .Values.env | default "dev" }}
{{- $host := .Values.host | default "nginx.webhop.me" }}
{{- $namespace := .Values.namespace | default "default" }}
{{- $appName := .Values.names.app | default (printf "%s-nginx" $env) }}
{{- $ingressName := .Values.names.ingress | default (printf "%s-ingress" $appName) }}
{{- $serviceName := .Values.names.service | default (printf "%s-service" $appName) }}
{{- $configSecretName := .Values.names.secret | default (printf "%s-secret" $appName) }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $ingressName }}
  namespace: {{ $namespace }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: ingress-nginx-class
  tls:
  - hosts:
    - {{ $host }}
    secretName: {{ $configSecretName }}
  rules:
  - host: {{ $host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ $serviceName }}
            port:
              number: 8080
