apiVersion: v1
kind: Service
metadata:
  name: nginx-main
  namespace: default
spec:
  selector:
    app: nginx-main
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  type: ClusterIP