{{- $env := .Values.env | default "dev" }}
{{- $namespace := .Values.namespace | default "default" }}
{{- $appName := .Values.names.app | default (printf "%s-nginx" $env) }}
{{- $serviceName := .Values.names.service | default (printf "%s-service" $appName) }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $serviceName }}
  namespace: {{ $namespace }}
spec:
  selector:
    app: {{ $appName }}
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  type: ClusterIP
