{{- $env := .Values.env | default "dev" }}
{{- $namespace := .Values.namespace | default "default" }}
{{- $appName := .Values.names.app }}
{{- $deploymentName := .Values.names.deployment | default (printf "%s-deployment" $appName) }}
{{- $configMapName := .Values.names.configmap | default (printf "%s-configmap" $appName) }}
{{- $imageRepository := .Values.image.repository | default "budcalmy/task18-apache" }}
{{- $imageTag := .Values.image.tag | default "latest" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $deploymentName }}
  namespace: {{ $namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ $appName }}
  template:
    metadata:
      labels:
        app: {{ $appName }}
    spec:
      containers:
      - name: {{ $appName }}
        image: {{ printf "%s:%s" $imageRepository $imageTag }}
        ports:
        - containerPort: 80
        startupProbe:
          httpGet:
            path: /
            port: 80
          periodSeconds: 5
          failureThreshold: 30
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 10
          failureThreshold: 3
        volumeMounts:
        - name: my-apache-config
          mountPath: /etc/apache2/conf.d/000-default.conf
          subPath: 000-default.conf

      volumes:
      - name: my-apache-config
        configMap:
          name: {{ $configMapName }}
