{{- $env := .Values.env | default "dev" }}
{{- $namespace := .Values.namespace | default "default" }}
{{- $appName := .Values.names.app }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $appName }}
  namespace: {{ $namespace }}
spec:
  selector:
    app: {{ $appName }}
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  type: ClusterIP
