apiVersion: v1
kind: Service
metadata:
  name: apache-main
  namespace: default
spec:
  selector:
    app: apache-main
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  type: ClusterIP